[ovh]
endpoint = "ovh-ca"
application_key = "your-application-key"
application_secret = "your-application-secret"
consumer_key = "your-consumer-key"

[okms]
id = "63897e7e-36ef-477f-9410-9d974711572a"
ca_cert_path = "signoz/mtls/ca-cert"
ca_key_path = "signoz/mtls/ca-key"
